{% extends 'base.html' %}

{% block content %}
    <main>
        {% if is_boss %}
            <h1>{{ object.name }}</h1>
            <h2>ГЛАВНЫЙ СУДЬЯ</h2>
            <h3>ЛИНК:</h3>
            <h4>{{ uuid }}</h4>
            <hr class="hr-divider">
                {% include 'referee/includes/judges_list.html' %}
                <button id="addJudgeBtn">Добавить судью</button>
            <hr class="hr-divider">
                {% include 'referee/includes/fights_list.html' %}
                <button id="addFightBtn">Добавить бой</button>
            <hr class="hr-divider">
        {% elif is_active_judge %}
            <h1>{{ object.name }}</h1>
            <h2>АКТИВНЫЙ БОКОВОЙ СУДЬЯ</h2>
            <hr class="hr-divider">
                {% include 'referee/includes/fights_list.html' %}
            <hr class="hr-divider">
        {% else %}
            <h1>{{ object.name }}</h1>
            <h2>НАБЛЮДАТЕЛЬ</h2>
            <hr class="hr-divider">
                {% include 'referee/includes/fights_list.html' %}
            <hr class="hr-divider">
        {% endif %}
    </main>

    {% load static %}
    <script src="{% static 'referee/js/judges.js' %}"></script>
    <script src="{% static 'referee/js/fights.js' %}"></script>
    <script src="{% static 'referee/js/note.js' %}"></script>

{% endblock %}
