<div id="judge-list" data-uuid="{{ uuid }}">
    <h4>Список судей</h4>
    {% for judge in judges %}
        <div class="judge {% if judge.is_active %}active-judge{% endif %}" data-judge-id="{{ judge.user.id }}">
            <p class="judge-infos">
                <span class="judge-username">{{ judge.user.username }}</span>
                <span class="judge-links">
                <a href="#" id="link" class="deleteJudge" data-id="{{ judge.user.id }}">удалить</a>
                    {% if judge.is_active %}
                        <a href="#" id="link" class="activeJudge" data-id="{{ judge.user.id }}">ОТДЫХАТЬ</a>
                        <span class="active-label">(Активный)</span>
                    {% else %}
                        <a href="#" id="link" class="activeJudge" data-id="{{ judge.user.id }}">РАБОТАТЬ</a>
                    {% endif %}
                </span>
            </p>
        </div>
    {% endfor %}
</div>
